.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #222324;
}

.content h1:not(:first-child),
.content h2:not(:first-child),
.content h3:not(:first-child),
.content h4:not(:first-child),
.content h5:not(:first-child),
.content h6:not(:first-child),
article+article {
    margin-top: 50px;
}

.content {
    font-size: 16px;
    line-height: 1.75;
    margin-top: 50px;
}
